

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#mensagem {
    height: 200px;
}
textarea {
    background-color: var(--cor-1);
    border: 1px solid var(--cor-3);
    border-radius: 4px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
}

textarea::placeholder {
    vertical-align: top;
    line-height: normal;
}

.formulario label {
    font: 600 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-11);
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background-color: var(--cor-1);
    border: 1px solid var(--cor-3);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0 0 0 2px #fea;
}
.formulario .coluna-grande {
    grid-column: 1/-1;
}

@media (max-width:600px) {
    .formulario {
        grid-template-columns: 1fr;
    }
}